<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>
  <body>
    <div>
      <div>{{room_name.name}} room</div>
      <label for="onlineUsers">Online Users </label>
      <select multiple class="form-control" id="onlineUsersSelector"></select>
    </div>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name.name|json_script:"room-name" }}
    <script>
      let onlineUsersSelector = document.querySelector("#onlineUsersSelector");
      let chatLog = document.querySelector("#chat-log");
      function onlineUsersSelectorAdd(value) {
        if (document.querySelector("option[value='" + value + "']")) return;
        let newOption = document.createElement("option");
        newOption.value = value;
        newOption.innerHTML = value;
        onlineUsersSelector.appendChild(newOption);
      }
      function onlineUsersSelectorRemove(value) {
        let oldOption = document.querySelector("option[value'" + value + "']");
        if (oldOption !== null) oldOption.remove();
      }
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        console.log(data.type);
        switch (data.type) {
          case "user_list":
            for (let i = 0; i < data.users.length; i++) {
              //console.log(data.users);
              onlineUsersSelectorAdd(data.users[i]);
            }
            break;
          case "user_join":
            chatLog.value += data.user + " joined the room. \n";
            console.log(data.user);
            onlineUsersSelectorAdd(data.user);
            break;
          case "chat_message":
            chatLog.value += data.user + " - " + data.message + "\n";

            break;
          case "user_leave":
            chatLog.value += data.user + " left the room. \n";
            onlineUsersSelectorRemove(data.user);
            break;
        }
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return

          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
            yell: "yell  ",
          })
        );

        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
{% comment %} WE BASICALLY create a websocket, then we get user input and passs
it into the websocket as .send {% endcomment %}
